*{
	box-sizing: border-box;
}
body {
	background-color:#DEB887;
	background-repeat: no-repeat;
}
.titlu {
	text-align: center;
	color: #8f8fdb;
	text-shadow: 2px 2px #ff0000;
}
.banner {
	background-color: #8A2BE2;
}
ul#meniu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #333;
}
li.meniu {
	float: left;
	padding-left : 20px;
}
li a {
	display: block;
	color: black;
	text-align: center;
	font-family: 'Aldrich';
	font-size: 22px;
	padding: 1vw 6vw;
	text-decoration: none;
}
li a:hover {
	transition: 0.5s;
	color: white;
	background-color: #111;
	font-family: 'Aldrich';
	font-size: 22px;
	box-shadow: 5px 10px 10px 1px;
	border-radius: 25px;
}
.zona_text{
	text-indent: 2rem;
	padding-left: 10px;
	margin-right: 10px;
	position : absolute;
	left : 20px;
	top : 200px;
	font-family: Helvetica;
	font-weight: bold;
}
#lista1{
	float: top;
	background-color: none;
	line-height: 3rem;
}
#lista2{
	float: top;
	background-color: none;
	line-height: 2rem;
	list-style-type: none;
	margin-right: 10px;
}
img {
	margin : 20px;
}
#cadru{
	position: fixed;
	left: 10vw;
	top: 29vh;
	height: 55vh;
	width: 60vw;
}
hr{
	width: 80vw;
}
#buton_urmator{
	position: fixed;
	left: 50vw;
	top: 85vh;
	height: 5vh;
	width: 5vh;
}
#buton_anterior{
	position: fixed;
	left: 20vw;
	top: 85vh;
	height: 5vh;
	width: 5vh;
}
canvas {
	position: relative;
	top: 15vh;
	left: 1vw;
}
footer{
	position: fixed;
	top: 930px;
	left: 1680px;
}
#container{
	position: absolute;
	top : 50vh;
	left: 50vw;
	width : 400px;
	height: 200px;
	border : 3px solid darkgreen;
	box-shadow: 4px 4px 5px 2px darkolivegreen;
}
#schimbare_culoare_1 {
	margin: 10px;
	padding: 10px;
	border-radius : 5px;
	font-size: 16px;
}
#schimbare_culoare_buton_1{
	padding: 10px;
	background-color: darkolivegreen;
	color : white;
	font-family: Verdana;
	text-shadow: 5px 5px 2px 2px gray;
	border-radius: 5px;
}
#schimbare_culoare_2 {
	margin: 10px;
	padding: 10px;
	border-radius : 5px;
	font-size: 16px;
}
#schimbare_culoare_buton_2{
	padding: 10px;
	background-color: darkolivegreen;
	color : white;
	font-family: Verdana;
	text-shadow: 5px 5px 2px 2px gray;
	border-radius: 5px;
}

@media screen and (min-width: 1px) and (max-width: 600px){
canvas {
	position : relative;
	top : 15vw;
	left : 2vh;
	width : 300px;
	height : 400px;
	}
#container{
	position: absolute;
	top : 50vh;
	left: 68vw;
	width : 220px;
	height: 220px;
}
#schimbare_culoare_1 {
	margin: 15px;
	padding: 10px;
	font-size: 16px;
}
#schimbare_culoare_buton_1{
	padding: 10px;
}
#schimbare_culoare_2 {
	margin: 15px;
	padding: 10px;
	font-size: 16px;
}
#schimbare_culoare_buton_2{
	padding: 10px;
}
}

@media screen and (min-width: 600px) and (max-width: 1025px){
canvas {
	position : relative;
	top : 5vw;
	left : 2vh;
	width : 600px;
	height : 800px;
	}
#container{
	position: absolute;
	top : 50vh;
	left: 68vw;
	width : 220px;
	height: 250px;
	}
#schimbare_culoare_1 {
	margin: 15px;
	padding: 10px;
	font-size: 16px;
	}
#schimbare_culoare_buton_1{
	margin-left: 10px;
	padding: 10px;
	}
#schimbare_culoare_2 {
	margin: 15px;
	padding: 10px;
	font-size: 16px;
	}
#schimbare_culoare_buton_2{
	margin-left: 10px;
	padding: 10px;
	}
}